<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1 th:text="${customvar}">Default Message</h1>
        <table>
            <thead>
            <tr>
                <th> Album Name </th>
                <th> Year </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${albumList.empty}">
                <td colspan="2"> No Albums Available </td>
            </tr>
            <tr th:each="album : ${albumList}">
                <td><span th:text="${album.albumName}"> Name </span></td>
                <td><span th:text="${album.yearOfRelease}"> Year </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>