<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
</head>

<body>

    <img src="../static/image/volumetric-musical-background-with-treble-clef-notes-generative-ai.jpg" alt="backgroun image of a musical note">

    <div class="container">
    <h1>Login</h1>
    <form onsubmit="login(event)">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required="required" />
        </div>
        <div>
            <button type="submit">Sign in</button>
            <a href="home.html" id="sign_out">Sign out</a>
        </div>
        <div id="error_msg"></div>
    </form>
    </div>


    <script th:src="@{/js/login.js}"></script>
</body>