<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register new Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>
<body>
<h1>Create your Account</h1>
<form action="/register" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required="required" />
    </div>
    <div>
        <button type="submit">Create Account</button>
    </div>
</form>
</body>